
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #e8e8e8;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    margin-bottom: 2px;
    color: #333;
    font-size: 1.2rem; 
    text-align: left;  
}


input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%; 
    font-size: 1rem;
    transition: border-color 0.2s ease;
}


input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


.add {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 1rem;
    width: 100%;
}


button:hover {
    background-color: #0056b3;
}


